*.log
tmp/

bt_venv/
btcli_venv/
btsdk_venv/

# links
config.yml
wallets

bittensor/
subtensor/

bittensor-subnet-template/

prompting/
tensorage/
compute-subnet/
subnet/
web-genie-ai/
data-universe/
